h1 h2 {
    text-align: center;
    color: cornflowerblue;
    font-family: 'Tangerine','Open Sans';
 
}
body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.line{
    background: linear-gradient(#000, #000) no-repeat center/100px 100%;


}